* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

header {
  background: #000000;
  position: sticky;
  top: 0;
  z-index: 100; }
  header nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center; }
    header nav div img {
      height: 3.75em;
      padding-left: 25px;
      padding-top: 10px; }
  header .ul-header {
    display: flex;
    flex-wrap: wrap;
    margin: 15px; }
    header .ul-header li {
      list-style: none;
      margin: 10px; }
      header .ul-header li a {
        text-decoration: none;
        color: #959291;
        padding: 5px;
        font-family: "proxima-nova-condensed", "Helvetica", arial, sans-serif;
        font-size: 13px;
        letter-spacing: 5px;
        font-weight: 700; }
        header .ul-header li a:hover {
          color: #ffffff; }

main {
  background: #000000; }
  main h1 {
    text-align: center;
    font-family: "Oswald", sans-serif;
    padding-top: 27px;
    color: #ffffff;
    grid-area: h1;
    font-size: 32px; }

.section-bio {
  /*display: flex;
    flex-wrap: wrap;
    justify-content: center;*/
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: none;
  align-items: none;
  margin-top: 20px; }
  .section-bio .p-bio-records {
    color: #959291;
    /* text-align: center; */
    margin: 15px 33px;
    padding: 5px;
    font-size: 17px;
    font-family: "proxima-nova-condensed", "Helvetica", arial, sans-serif;
    line-height: 30px; }
  .section-bio div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: none;
    align-items: none; }
    .section-bio div img {
      height: 28em;
      width: 100%;
      padding: 25px;
      margin: 10px;
      /* margin-bottom: 10px; */ }

.section-carrera {
  /* display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  flex-direction: none;
  align-items: center;
  border-top: 1px solid #ffffff; }
  .section-carrera a {
    width: 7em;
    height: 74px;
    border-radius: 10%;
    background: #959291;
    align-self: center;
    color: #ffffff;
    text-decoration: none;
    font-size: 25px;
    text-align: center;
    padding: 16px;
    font-family: "proxima-nova-condensed", "Helvetica", arial, sans-serif;
    order: 2;
    border: 1px solid #ffffff; }
    .section-carrera a:hover {
      box-shadow: 1px 3px 15px #959291; }
  .section-carrera iframe {
    margin-bottom: 10px;
    padding: 15px;
    margin-top: 10px; }

.section-records {
  /*display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-direction: row-reverse;*/
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  flex-direction: row-reverse;
  align-items: none;
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff; }
  .section-records .p-bio-records {
    color: #959291;
    /* text-align: center; */
    margin: 15px 33px;
    padding: 5px;
    font-size: 17px;
    font-family: "proxima-nova-condensed", "Helvetica", arial, sans-serif;
    line-height: 30px; }
  .section-records a {
    width: 7em;
    height: 74px;
    border-radius: 10%;
    background: #959291;
    align-self: center;
    color: #ffffff;
    text-decoration: none;
    font-size: 25px;
    text-align: center;
    padding: 16px;
    font-family: "proxima-nova-condensed", "Helvetica", arial, sans-serif;
    order: 2;
    border: 1px solid #ffffff; }
    .section-records a:hover {
      box-shadow: 1px 3px 15px #959291; }
  .section-records div img {
    margin: 20px 0 30px 0;
    height: 50em;
    width: 100%;
    /* padding: 5px; */
    /* order: 1; */ }

footer {
  background-color: #000000;
  z-index: 10; }
  footer .footer-grid {
    background-color: #000000;
    display: grid;
    grid-template-areas: "h3 h3 h3" "ln cl jyc" "ff pest fit" "hb bin live" "pf pf pf";
    justify-content: center;
    align-items: center;
    justify-items: center;
    grid-gap: 2em; }
    footer .footer-grid .nike-grid {
      justify-self: center;
      align-self: center;
      grid-area: ln; }
      footer .footer-grid .nike-grid .nike {
        width: 14em;
        height: 8em;
        opacity: 30%;
        padding: 10px; }
    footer .footer-grid .clear-grid {
      justify-self: center;
      align-self: center;
      grid-area: cl; }
      footer .footer-grid .clear-grid .clear {
        width: 14em;
        height: 8em;
        opacity: 30%;
        padding: 10px; }
    footer .footer-grid .jyco-grid {
      justify-self: center;
      align-self: center;
      grid-area: jyc; }
      footer .footer-grid .jyco-grid .jyco {
        width: 9em;
        height: 9em;
        opacity: 30%;
        padding: 10px; }
    footer .footer-grid .free-grid {
      justify-self: center;
      align-self: center;
      grid-area: ff; }
      footer .footer-grid .free-grid .free {
        width: 15em;
        height: 11em;
        opacity: 30%;
        padding: 10px; }
    footer .footer-grid .pestana-grid {
      justify-self: center;
      align-self: center;
      grid-area: pest; }
      footer .footer-grid .pestana-grid .pestana {
        width: 11em;
        height: 11em;
        opacity: 30%;
        padding: 10px; }
    footer .footer-grid .fit-grid {
      justify-self: center;
      align-self: center;
      grid-area: fit; }
      footer .footer-grid .fit-grid .fitnes {
        width: 10em;
        height: 8em;
        opacity: 30%;
        padding: 10px; }
    footer .footer-grid .herba-grid {
      justify-self: center;
      align-self: center;
      grid-area: hb; }
      footer .footer-grid .herba-grid .herbalife {
        width: 16em;
        height: 9em;
        opacity: 30%;
        padding: 10px; }
    footer .footer-grid .bin-grid {
      justify-self: center;
      align-self: center;
      grid-area: bin; }
      footer .footer-grid .bin-grid .binance {
        width: 15em;
        height: 7em;
        opacity: 30%;
        padding: 10px; }
    footer .footer-grid .live-grid {
      justify-self: center;
      align-self: center;
      grid-area: live; }
      footer .footer-grid .live-grid .live {
        width: 15em;
        height: 10em;
        opacity: 30%;
        padding: 10px; }
  footer h3 {
    margin: 50px 0;
    font-family: "Oswald", sans-serif;
    text-align: center;
    color: #959291;
    letter-spacing: 5px;
    text-transform: uppercase;
    grid-area: h3;
    font-size: 18px; }
  footer p {
    margin-top: 50px;
    margin-bottom: 5px;
    font-family: "Oswald", sans-serif;
    text-align: center;
    color: #959291;
    grid-area: pf; }
