@media (max-width: 320px) {

    /*-----------*/
    /*index.html*/
    /*---------*/
    .section-bio {

        .p-bio-records {
            font-size: 1em;
        }

        div {

            img {
                height: 14em;
            }
        }
    }

    .section-carrera {

        iframe {
            height: 23em;
            width: 15em;
        }
    }

    .section-records {

        div {

            img {
                height: 22em;
                width: 15em;
            }
        }
    }

    /*------------------------------------------------*/

    /*-------------*/
    /*carrera.html*/
    /*-----------*/
    .section-gral {

        .bloque {

            .iframe-gral {
                width: 85%;
                height: 23em;
            }

            .p-gral {
                margin-top: 0;
            }
        }
    }

    /*------------------------------------------------*/

    /*-------------*/
    /*records.html*/
    /*-----------*/
    .section-cl {

        .div-titulos {

            h3 {
                font-size: 0.8em;
            }
        }

        .div-img {

            .img-sporting {
                width: 17em;
                height: 11em;
            }

            .img-manchester {
                width: 17em;
                height: 10em;
            }

            .img-real {
                width: 17em;
                height: 11em;
            }

            .img-juve {
                width: 17em;
                height: 10em;
            }

            .img-portugal {
                width: 17em;
                height: 10em;
            }
        }
    }

    /*------------------------------------------------*/

    /*------------*/
    /*tienda.html*/
    /*----------*/
    .section-gral {

        .h2 {
            font-size: 1.3em;
        }
    }

    /*------------------------------------------------*/

    /*-----------*/
    /*hotel.html*/
    /*---------*/
    .grid {

        .h2-grid {
            font-size: 0.7em;
        }

        .hotel-1 {

            .img-madrid {
                width: 17em;
                height: 14em;
            }
        }

        .hotel-2 {

            .img-funchal {
                width: 17em;
                height: 14em;
            }
        }

        .hotel-3 {

            .img-eeuu {
                width: 17em;
                height: 14em;
            }
        }

        .hotel-4 {

            .img-marruecos {
                width: 17em;
                height: 14em;
            }
        }

        .hotel-5 {

            .img-lisboa {
                width: 17em;
                height: 8em;
            }
        }
    }
}