@media (max-width: 640px) {

    /*-------------*/
    /*records.html*/
    /*-----------*/
    .section-cl {

        .div-img {

            .img-sporting {
                width: 23.5em;
                height: 15em;
            }

            .img-manchester {
                width: 23.5em;
                height: 15em;
            }

            .img-real {
                width: 23.5em;
                height: 15em;
            }

            .img-juve {
                width: 23.5em;
                height: 15em;
            }

            .img-portugal {
                width: 23.5em;
                height: 13em;
            }
        }

        .div-titulos {
            font-size: 0.9em;
            width: 86%;
        }
    }

    .ul-titulos {
        font-size: 0.8em;
        width: 80%;
    }
}