@media (max-width: 690px) {

    /*-----------*/
    /*hotel.html*/
    /*---------*/
    .grid {

        .h1-grid {
            font-size: 1.5em;
        }

        .h2-grid {
            font-size: 0.9em;
        }

        .hotel-1 {

            .img-madrid {
                width: 23em;
                height: 18em;
            }
        }

        .hotel-2 {

            .img-funchal {
                width: 23em;
                height: 18em;
            }
        }

        .hotel-3 {

            .img-eeuu {
                width: 23em;
                height: 18em;
            }
        }

        .hotel-4 {

            .img-marruecos {
                width: 23em;
                height: 18em;
            }
        }

        .hotel-5 {

            .img-lisboa {
                width: 23em;
                height: 10em;
            }
        }
    }
}