@media (max-width: 800px) {
    /*------------*/
    /*footer.html*/
    /*----------*/
    footer {
        .footer-grid {
            @include grid("h3 h3" "ln cl" "jyc ff" "pest fit" "hb bin" "live live" "pf pf", center, none, center, none);

            .nike-grid {

                .nike {
                    width: 12em;
                    height: 7em;
                }
            }

            .clear-grid {

                .clear {
                    width: 12em;
                    height: 7em;
                }
            }

            .jyco-grid {

                .jyco {
                    width: 8em;
                    height: 8em;
                }
            }

            .free-grid {

                .free {
                    width: 13em;
                    height: 8em;
                }
            }

            .herba-grid {

                .herbalife {
                    width: 13em;
                    height: 7em;
                }
            }

            .bin-grid {

                .binance {
                    width: 13em;
                    height: 6em;
                }
            }

            .live-grid {

                .live {
                    width: 13em;
                    height: 8em;
                }
            }
        }
    }
}