@media (max-width: 530px) {

    /*-----------*/
    /*index.html*/
    /*---------*/
    .section-records {

        div {
            
            img {
                height: 32em;
                width: 22em;
            }
        }
    }

    /*------------------------------------------------*/

    /*-------------*/
    /*carrera.html*/
    /*-----------*/
    .section-gral {

        .bloque {

            .iframe-gral {
                width: 28em;
            }
        }
    }
}