@media (max-width: 530px) {

    /*-----------*/
    /*index.html*/
    /*---------*/
    .section-bio {

        div {

            img {
                height: 22em;
                width: 30em;
            }
        }
    }

    /*------------------------------------------------*/

    /*-------------*/
    /*carrera.html*/
    /*-----------*/
    .section-gral {

        .bloque {

            .iframe-gral {
                width: 28em;
            }
        }
    }

    /*------------------------------------------------*/

    /*-------------*/
    /*records-html*/
    /*-----------*/
    .section-cl {

        .div-titulos {

            h3 {
                font-size: 1.2em;
            }
        }
    }
}