@media (max-width: 768px) {

    /*-----------*/
    /*index.html*/
    /*---------*/
    .section-bio {

        div {

            img {
                height: 21em;
            }
        }
    }

    .section-carrera {

        iframe {
            height: 35em;
        }

        a {
            width: 6em;
            height: 50px;
            padding: 5px;
            margin: 15px;
        }
    }

    .section-records {

        div {

            img {
                height: 33em;
            }
        }

        a {
            width: 6em;
            height: 50px;
            padding: 5px;
            margin: 15px;
        }
    }

    /*------------------------------------------------*/

    /*-------------*/
    /*carrera.html*/
    /*-----------*/
    .section-gral {

        .bloque {

            .iframe-gral {
                width: 91%;
            }
        }
    }

    /*------------------------------------------------*/

    /*-------------*/
    /*records.html*/
    /*-----------*/
    .section-cl {

        .div-img {

            .img-sporting {
                width: 38em;
                height: 25em;
            }

            .img-manchester {
                width: 38em;
                height: 23em;
            }

            .img-real {
                width: 38em;
                height: 23em;
            }

            .img-juve {
                width: 38em;
                height: 23em;
            }

            .img-portugal {
                width: 40em;
                height: 22em;
            }
        }
    }

    /*------------------------------------------------*/

    /*------------*/
    /*tienda.html*/
    /*----------*/
    .section-gral {

        .box {

            .carrusel {

                .elementos {
                    height: 26.5em;

                    img {
                        width: 12em;
                        height: 12em;
                    }
                }
            }
        }
    }
}