footer {
    background-color: $background-color;
    z-index: 10;

    .footer-grid {
        background-color: $background-color;
        @include grid("h3 h3 h3" "ln cl jyc" "ff pest fit" "hb bin live" "pf pf pf", center, center, center, 2em);

        .nike-grid {
            justify-self: center;
            align-self: center;
            grid-area: ln;

            .nike {
                width: 14em;
                height: 8em;
                opacity: 30%;
                padding: 10px;
            }
        }

        .clear-grid {
            justify-self: center;
            align-self: center;
            grid-area: cl;

            .clear {
                width: 14em;
                height: 8em;
                opacity: 30%;
                padding: 10px;
            }
        }

        .jyco-grid {
            justify-self: center;
            align-self: center;
            grid-area: jyc;

            .jyco {
                width: 9em;
                height: 9em;
                opacity: 30%;
                padding: 10px;
            }
        }

        .free-grid {
            justify-self: center;
            align-self: center;
            grid-area: ff;

            .free {
                width: 15em;
                height: 11em;
                opacity: 30%;
                padding: 10px;
            }
        }

        .pestana-grid {
            justify-self: center;
            align-self: center;
            grid-area: pest;

            .pestana {
                width: 11em;
                height: 11em;
                opacity: 30%;
                padding: 10px;
            }
        }

        .fit-grid {
            justify-self: center;
            align-self: center;
            grid-area: fit;

            .fitnes {
                width: 10em;
                height: 8em;
                opacity: 30%;
                padding: 10px;
            }
        }

        .herba-grid {
            justify-self: center;
            align-self: center;
            grid-area: hb;

            .herbalife {
                width: 16em;
                height: 9em;
                opacity: 30%;
                padding: 10px;
            }
        }

        .bin-grid {
            justify-self: center;
            align-self: center;
            grid-area: bin;

            .binance {
                width: 15em;
                height: 7em;
                opacity: 30%;
                padding: 10px;
            }
        }

        .live-grid {
            justify-self: center;
            align-self: center;
            grid-area: live;

            .live {
                width: 15em;
                height: 10em;
                opacity: 30%;
                padding: 10px;
            }
        }
    }

    h3 {
        margin: 50px 0;
        font-family: $tipografia2;
        text-align: center;
        color: $color-dos;
        letter-spacing: 5px;
        text-transform: uppercase;
        grid-area: h3;
        font-size: 18px;
    }

    p {
        margin-top: 50px;
        margin-bottom: 5px;
        font-family: $tipografia2;
        text-align: center;
        color: $color-dos;
        grid-area: pf;
    }
}