.grid {
    display: grid;
    grid-template-areas:
        "h1 h1 h1 h1"
        "h2 h2 h2 h2"
        "rm rm fc fc"
        "eu eu ma ma"
        "li li li li"
    ;
    grid-gap: 1.5em;
    border-bottom: 1px solid $color;
    /* padding-bottom: 1em; 
    justify-content: center;
    align-items: center;
    justify-items: center;*/
    @include flex(none,center,none,center);
    justify-items: center;
}