.section-gral {
    @include flex(wrap, none, none, none);
    border-bottom: 1px solid $color;

    .h2 {
        font-family: $tipografia2;
        padding: 40px;
        color: $color;
        text-align: left;
    }

    .box {
        @include flex(nowrap, none, column, none);
        margin: auto;
        overflow: auto;

        &::-webkit-scrollbar {
            background: #4c4949bc;
            border-radius: 10px;
        }

        &::-webkit-scrollbar:hover {
            background: #2a2828bc;
        }

        .carrusel {
            @include flex(nowrap, none, none, center);
            background-color: $background-color;
            height: 31.2em;
            margin: 0 25px 35px 35px;

            .elementos {
                border: 2px solid $background-color;
                height: 29em;
                margin: 35px;
                text-align: center;

                &:hover {
                    transform: scale(1.1);
                    height: 28em;
                    border: 2px solid $color;
                }

                img {
                    width: 16em;
                    height: 15.6em;
                    padding: 5px;
                }


                h4 {
                    color: $color-dos;
                    line-height: 25px;
                    font-family: $tipografia1;
                    text-align: center;
                    margin: 25px;
                    padding: 5px;
                    font-size: 15px;
                }

                h5 {
                    @extend h4;
                }

                .boton {
                    text-align: center;

                    a {
                        .button {
                            background-color: $background-color;
                            line-height: 25px;
                            font-family: $tipografia1;
                            padding: 5px;
                            border-radius: 100px;
                            outline: 1px solid $color;
                            color: $color-dos;
                        }
                    }
                }
            }
        }
    }
}