.grid {
    @include grid("h1 h1 h1 h1" "h2 h2 h2 h2" "rm rm fc fc" "eu eu ma ma" "li li li li", center, center, center, 1.5em);
    border-bottom: 1px solid $color;

    .h1-grid {
        font-family: $tipografia2;
        padding-top: 27px;
        color: $color;
        grid-area: h1;
        font-size: 2em;
        text-align: center;
    }

    .h2-grid {
        color: $color;
        font-family: $tipografia1;
        margin: 35px;
        padding-left: 5px;
        font-size: 15px;
        justify-self: center;
        align-items: center;
        grid-area: h2;
        text-align: center;
    }

    .hotel-1 {
        grid-area: rm;
        justify-self: center;
        align-self: center;

        .img-madrid {
            height: 27em;
            width: 35em;
        }
    }

    .hotel-2 {
        @extend .hotel-1;
        grid-area: fc;
        /*justify-self: center;
        align-self: center;*/

        .img-funchal {
            height: 27em;
            width: 35em;
        }
    }

    .hotel-3 {
        @extend .hotel-2;
        grid-area: eu;
        /*justify-self: center;
        align-self: center;*/

        .img-eeuu {
            height: 27em;
            width: 35em;
        }
    }

    .hotel-4 {
        @extend .hotel-3;
        grid-area: ma;
        /*justify-self: center;
        align-self: center;*/

        .img-marruecos {
            height: 27em;
            width: 35em;
        }
    }

    .hotel-5 {
        @extend .hotel-4;
        grid-area: li;
        /*justify-self: center;
        align-self: center;*/

        .img-lisboa {
            height: 25em;
            width: 71.5em;
            margin-bottom: 15px;
        }
    }
}